includes/* linguist-vendored=true
dist/* linguist-generated=true
docs/* linguist-documentation=true
data/* linguist-detectable=false
includes/* linguist-detectable=false
dist/* linguist-detectable=false