/**
 * @description homepage cover image
 * @author Mashiro
 * @since 19/11/1
 */

.header-top {
  position: fixed;
  width: 100%;
  height: 100%;

  .img-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    .img-view {
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
      }
    }

    @media screen and (max-aspect-ratio: 1/1) {
      height: 50%;
    }
  }

}

.header-top-after {
  width: 100%;
  height: calc(100vh - var(--vh-offset, 0px));

  &-deco {
    display: block;
    width: 100%;
    background-position: center;
    background-size: auto 100%;
    background-image: url($img-wave-svg);
    height: 30px;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: $tablet-min-width) {
      width: 150%;
      height: 30px;
      background: white;
      left: -25%;
      border-radius: 100% 100% 0 0;
      bottom: -20px;
    }
  }

  @media screen and (max-aspect-ratio: 1/1) {
    height: calc((100vh - var(--vh-offset, 0px)) * .5);

    &-deco {
      top: calc((100vh - var(--vh-offset, 0px)) * .5 - 30px);
      bottom: auto;

      @media screen and (max-width: $tablet-min-width) {
        top: calc((100vh - var(--vh-offset, 0px)) * .5 - 15px);
      }
    }
  }
}