/**
 * @description homepage cover image
 * @author Mashiro
 * @since 19/11/1
 */

.header-top {
  position: fixed;
  width: 100%;
  height: 100%;

  figure {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

}

.header-top-after {
  width: 100%;

  &-deco {
    display: block;
    width: 100%;
    background-position: center;
    background-size: auto 100%;
    background-image: url(../images/wave2.svg);
    // bug or whatever????
    // https://github.com/webpack-contrib/css-loader/issues/864
    // TODO: https://github.com/webpack-contrib/mini-css-extract-plugin

    @media screen and (min-width: $tablet-min-width) {
      height: 30px;
      position: absolute;
      bottom: 0;
    }
  }
}