/**
 * @description index page framework
 * @author Mashiro
 * @since 19/11/1
 */

.header-container {
  // display: -webkit-flex;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: space-between
}

.header-top {
  position: fixed;
  width: 100%;
  height: 100%;
  figure {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  
}

#header-top-after {
  width: 100%
}

.site-content {
  position: relative;
  background:coral
}