.page-navigation {
  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }

  .button-wrapper {
    >button {
      .mdc-button__label {
        text-transform: capitalize;
      }

      min-width: auto;

      &.current {
        .mdc-button__label {
          text-decoration: underline;
        }
      }
    }
  }
}