/*
 * MDC varibles
 * must using before import
 */
 $mdc-theme-primary: #fcb8ab;
 $mdc-theme-secondary: #feeae6;
 $mdc-theme-on-primary: #442b2d;
 $mdc-theme-on-secondary: #442b2d;
 $mdc-theme-surface: #fedbd0;
 $mdc-theme-background: #feeae6;
 $mdc-theme-on-surface: #442c2e;
 $mdc-theme-on-background: #442c2e;