/*
 * MDC varibles
 * must before import
 */
$mdc-theme-primary: #fcb8ab;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

/* font color */
$font-color-super-light:#ffffff;
$font-color-light:#888888;
$font-color-normal: #504e4e;
$font-color-dark:#333333;
$font-color-super-dark:#000000;

/* Tablet min width */
$tablet-min-width: 761px;

/* img files */
$img-wave-svg : "../images/wave.svg";